body{
	background-color: #D3D3D3;

}

.panel{
	background-color: white;
	text-align: center;
}

#content{
	
	height: 3000px;
}
.container{
	height: 100%;

}


#button-search{
	
	width: 100px;
	font-size: 16px;
}

