body{
	font-family: sans-serif;
}

.navbar{
	color: white;
	

}

.navbar-brand{
	font-size:20px;
	font-weight: bold;
	font-family: 
}

a{
	color: black;
	

}
a:hover{
	color: 339900;
}

.img-fluid{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	max-height: 400px;
	clip: rect(0px,0px,300px,0px);

}

.content{
	text-align: center;
	font-size: 20px;
}

.btn{
	width: 300px;
	font-size: 20px;
}